# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/*.csv
data/raw_data.csv

# Models
models/*.pkl
models/*.joblib

# Logs
*.log

# Notebooks
notebooks/.ipynb_checkpoints